<h1 class="site-title">lucent.earth</h1>
<app-globe-view
  [sidebarOpen]="sidebarOpen"
  [sidebarInsetSnap]="sidebarPanelResizing"
  [selectedStream]="selectedStream"
  [selectedRadio]="selectedRadio"
  [initialStreamQuery]="initialStreamQuery"
  [initialRadioQuery]="initialRadioQuery"
  (streamSelected)="onStreamSelected($event)"
  (radioSelected)="onRadioSelected($event)"
/>
@if (sidebarOpen) {
  <app-stream-sidebar
    [stream]="selectedStream"
    [radioSelection]="selectedRadio"
    (closing)="onSidebarClosing()"
    (closed)="onSidebarClosed()"
    (resizeActiveChange)="sidebarPanelResizing = $event"
    (layoutWidthPxChange)="onSidebarLayoutWidth($event)"
  />
}
